<% content_for :title do %>My super sweet dashboard<% end %>

<div class="topbar">
  <div class="name" data-value="<%= session[:user_id] %>">Hello <%= session[:user_id]%></div>
  <h1 class="header">asdf</h1>
  <div class="backButton"></div>
</div>

<div class="gridster">
  <ul class="widgetContainer">
<!--
<script type='text/javascript'>
    document.write('<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="gs_w"><div data-id="synergy" data-view="Meter" data-title="Hola1" data-min="0" data-max="100"></div></li>');
</script>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="gs_w">
      <div data-id="synergy" data-view="Meter" data-title="Hola1" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="git_issues_labeled_defects" data-view="Graph" data-title="Issue Count"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="github_user_repos_forks" data-view="List" data-title="Repo Forks"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="github_user_repos_watchers" data-view="List" data-title="Repo Watchers"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="phoenix16t/unity-spacerace" data-view="GithubStats"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nowplaying" data-view="Text" data-title="NOW PLAYING" data-text="Artist - Track"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="albumart" data-view="Image" data-title="Album Name"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="aww" data-view="RandomAww"></div>
    </li>



  -->
  </ul>

  <ul class="scrollContainer">
  </ul>

  <script type="text/javascript">
     renderFromServer("<%= session[:user_id] %>");
  </script>

<!--   <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center> -->
</div>
